[Unit]
Description=Ninja Cat Discord bot
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/dotnet /ninjacat/NinjaCatDiscordBot.dll

[Install]
WantedBy=multi-user.target
